<div id="choices">
    <form id = "new_quest">
        <label class="label">Prompt</label>
        <input class="prompt" type="text" name="question[prompt]" placeholder="e.g. What's your fave beer?" >

        <label class="label">Choice 1</label>
        <input class="choice_1" type="text" name="question[choice_1]" placeholder="Steel Reserve" >


        <label class="label">Choice 2</label>
        <input class="choice_2" type="text" name="question[choice_2]" placeholder="Colt 45" >

        <label class="label">Choice 3</label>
        <input class="choice_3" type="text" name="question[choice_3]" placeholder="Natural Ice Light">

        <label class="label">Choice 4</label>
        <input class="choice_4" type="text" name="question[choice_4]" placeholder="Red Dog">
    </form>
</div>

